<?xml version="1.0" encoding="utf-8"?>
<Config xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <GoogleCalendarID></GoogleCalendarID>
  <ProxyAccount></ProxyAccount>
  <ProxyAuthenticationEnabled>false</ProxyAuthenticationEnabled>
  <ProxyPassword></ProxyPassword>
</Config>